<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>DNX Solutions | AWS | CICD | Brasil</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.png" type="image/png">
</head>

<div ng-app="myApp" ng-controller="myCtrl">

  <link rel="stylesheet" href="style.css?{{random}}">

  <div ng-include="'header.html'"></div>
  <section class="contact">
    <form name="Contato">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-6">
            <input type="text" ng-model="nome" name="nome" placeholder="Nome" required>
            <input type="email" ng-model="email" name="email" placeholder="Email" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/" required>
            <div ng-if="Contato.email.$error.pattern" class="invalid-feedback">Insira um email válido.</div>
            <input type="text" id="telefone" ng-model="telefone" name="telefone" placeholder="Telefone" required>
            <textarea ng-model="mensagem" name="mensagem" placeholder="Digite sua mensagem aqui..." required></textarea>
          </div>
          <div class="col-md-6">
            <div class="contact-title">Entrar em contato</div>
            <div class="line"></div>
            <div class="contact-description">
              Estamos aqui para ajudar sua empresa a prosperar. Entre em contato<br>
              conosco para uma avaliação gratuita para conhecer o poder dos<br>
              recursos oferecidos pela nuvem AWS.
            </div>
            <button ng-disabled="!Contato.$valid" ng-click="submit()" class="btn-dnx-secondary" href="#">Enviar</button>
            <div ng-if="notificationSucesso" class="msg-sucesso">Enviado com sucesso!</div>
            <div ng-if="notificationErro" class="msg-erro">Erro ao processar! Tente novamente.</div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <div ng-include="'footer.html'"></div>
</div>

<script src="js/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mask.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/app.js"></script>
<script src="js/utils.js"></script>