// compress: true

@import url("../mixins/functions.less");


//
// Banner
//

.banner {
  background-image: url(../../img/banner.jpg);
  background-size: cover;
  padding: 65px 0 65px 0;
  .banner-title {
    padding: 10px 15px;
    display: inline-block;
    background-color: #000;
    color: @white;
    font-size: 56px;
    font-family: @font-dosis;
  }
  .btn-dnx-primary {
    margin-top: 45px;
  }
}

// 
// About
//

.about {
  background-color: @gray-10;
  padding: 65px 0 65px 0;
  .about-title {
    font-family: @font-dosis;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: black;
  }
  .about-description {
    font-family: @font-dosis;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 32px;
    color: black;
  }
}

//
// Services
//

.gray {
  background-color: @gray-10;
}

.services {
  position: relative;
  padding: 15px 0 15px 0;
  .box-left {
    padding: 25px 0 25px 0;
    .services-title {
      padding: 15px 0 65px 0;
      font-family: @font-dosis;
      font-size: 48px;
      font-weight: 500;
      text-align: left;
      color: black;
      line-height: 50px;
    }
    .services-sub-title {
      display: flex;
      align-items: center;
      padding: 0 0 65px 0;
      font-family: @font-dosis;
      font-size: 40px;
      font-weight: 500;
      text-align: left;
      color: black;
      line-height: 50px;
      img {
        margin: -10px 10px 0 0;
      }
    }
    .services-description {
      margin: 0 0 35px 0;
      padding: 0 0 0 24px;
      font-family: @font-dosis;
      font-size: 22px;
      font-weight: 400;
      text-align: left;
      line-height: 32px;
      color: black;
      line-height: 40px;
    }
    .post-img {
      position: relative;
      z-index: @z-index-1;
      border-radius: 40px;
    }
    .btn-dnx-secondary {
      margin: 0 0 0 25px;
    }
    .float-background {
      position: absolute;
      left: -70px;
      bottom: 30px;
    }
    .line {
      display: inline-block;
      width: 40px;
      margin: 0;
      padding: 0;
    }
  }
  .box-right {
    padding: 25px 0 25px 0;
    .services-sub-title {
      display: flex;
      align-items: center;
      padding: 0 0 65px 0;
      font-family: @font-dosis;
      font-size: 40px;
      font-weight: 400;
      text-align: left;
      color: black;
      line-height: 50px;
      img {
        margin: -10px 10px 0 0;
      }
    }
    .services-description {
      margin: 0 0 35px 0;
      padding: 0 0 0 24px;
      font-family: @font-dosis;
      font-size: 22px;
      font-weight: 500;
      text-align: left;
      line-height: 32px;
      color: black;
    }
    .post-img {
      position: relative;
      z-index: @z-index-1;
      border-radius: 40px;
    }
    .btn-dnx-secondary {
      margin: 0 0 0 25px;
    }
    .float-background {
      position: absolute;
      right: -130px;
      bottom: 30px;
    }
    .line {
      display: inline-block;
      width: 40px;
      margin: 0;
      padding: 0;
    }
  }
}

//
// Clients
//

.clients {
  padding: 55px 0 55px 0;
  background-color: @gray-10;
  .clients-title {
    padding: 15px 0 65px 0;
    font-family: @font-dosis;
    font-size: 48px;
    font-weight: 500;
    text-align: left;
    color: black;
    line-height: 50px;
  }
  .clients-avatar {
    display: flex;
    align-content: center;
    justify-content: center;
    img {
      border-radius: 50%;
      margin: 15px 0 15px 0;
    }
  }
  .clients-stars {
    display: flex;
    align-content: center;
    justify-content: center;
    img {
      margin: 0 0 15px 0;
    }
  }
  .clients-description {
    font-family: @font-dosis;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    min-height: 168px;
  }
  .clients-name {
    margin: 15px 0 0 0;
    font-family: @font-dosis;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }
  .line {
    display: inline-block;
    width: 40px;
    margin: 0;
    padding: 0;
  }
}

//
// Partners
//

.partners {
  position: relative;
  padding: 35px 0 55px 0;
  .partners-title {
    padding: 15px 0 35px 0;
    font-family: @font-dosis;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    color: black;
    line-height: 50px;
  }
  .partners-img {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .slick-dotted.slick-slider {
    padding: 40px;
  }
  .partners-list {
    border-top: 1px solid rgba(237, 237, 237, 1);
    border-bottom: 1px solid rgba(237, 237, 237, 1);
    img {
      padding: 0 15px 0 15px;
    }
    .slick-dots {
      display: none!important;
    }
    .slick-prev {
      width: 50px;
      height: auto;
      overflow: hidden;
      &::before{
        content: url(../../img/arrows-prev.png);
      }
    }
    .slick-next {
      width: 50px;
      height: auto;
      overflow: hidden;
      &::before{
        content: url(../../img/arrows-next.png);
      }
    }
  }
  .line {
    display: inline-block;
    width: 40px;
    margin: 0;
    padding: 0;
  }
}