// compress: true

@import url("../mixins/functions.less");

//
// Footer
//

.footer {
  background-color: @gray-10;
  padding: 25px 0 25px 0;
  .footer-title {
    font-family: @font-dosis;
    font-size: 18px;
    font-weight: 700;
    color: @black;
    text-align: left;
  }
  .footer-description {
    font-family: @font-dosis;
    font-size: 18px;
    font-weight: 400;
    color: @black;
    text-align: left;
    a{
      color: @black;
      text-decoration: underline;
    }
  }
  .footer-logo {
    margin: 15px 0 0 0;
  }
  .social {
    margin: 20px 0 0 0;
    float: right;
    ul {
      li {
        list-style: none;
        float: left;
        margin-right: 15px;
        a{
          font-size: 30px;
          color: #8e99a8;
        }
      }
    }
  }
}
