// compress: true

@import url("../mixins/functions.less");

//
// Menu
//

.menu {
  position: relative;
  padding: 15px 0 15px 0;
  background-color: @black;
  nav {
    margin: 0;
    padding: 0;
    ul {
      li {
        a {
          color: @white;
          font-family: @font-dosis;
          font-weight: 400;
          font-size: 19px;
          font-weight: 500;
          line-height: 50px;
          padding-left: 30px;
          padding-right: 30px;
          &:hover,
          &:focus,
          &:active {
            background-color: @black;
            color: @white;
          }
        }
      }
      .social {
        a {
          margin: 5px 0 0 0;
          padding: 10px 10px;
          font-size: 28px;
        }
      }
    }
    .dropdown-menu {
      li {
        a {
        }
      }
    }
    // toggle
    button {
      // background-color: @white!important;
      .icon-bar {
        // display: block;
        // width: 22px;
        // height: 3px;
        // border-radius: 1px;
        // background-color: @red-light!important;
      }
    }
    .logo {
      img {
        margin-right: 30px;
      }
      &:hover,
      &:focus,
      &:active {
        // text-decoration: none;
      }
    }
  }
}
